body {
 font-family: 'DM Sans', sans-serif;
}

.container {
 max-width: 1180px;
 padding: 0 10px;
 margin: 0 auto;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

.title {
 font-family: 'Bebas Neue', sans-serif;
}

._anim-show {
 transform: translate(0px, 100%);
 opacity: 0;
 transition: all 0.8s ease 0s;
}
._anim-show._active,
._active ._anim-show {
 opacity: 1;
 transform: translate(0px, 0px);
}