.countries {
 padding: 100px 0;
 position: relative;
 @media (max-width: 991px) {
  padding-top: 0;
 }
 @media (max-width: 768px) {
  padding-bottom: 40px;
 }
 // .countries__container 
 &__container {
  @media (max-width: 900px) {
   padding: 0;
  }
 }
 // .countries__inner
 &__inner {
  display: flex;
  align-items: center;
  @media (max-width: 900px) {
   display: block;
  }
 }
 // .countries__slider
 &__slider {
  flex: 1 0 66%;
  margin-left: 0 !important;
 }
 .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
 }
 .swiper-pagination-bullet-active {
  background-color: $accentColor;
 }
 // .countries__item
 &__item {
  min-height: 747px;
  padding: 89px 150px 72px 50px;
  &_ny {
   @include background(url("../images/benefits/usa.jpg"));
  }
  &_sing {
   @include background(url("../images/benefits/singapore.jpg"));
  }
  &_irl {
   @include background(url("../images/benefits/ireland.jpg"));
  }
  &_switz {
   @include background(url("../images/benefits/switzerland.jpg"));
  }
  &_uk {
   @include background(url("../images/benefits/uk.jpg"));
  }
  &_rom {
   @include background(url("../images/benefits/romania.jpg"));
  }
  @media (max-width: 900px) {
   padding: 70px 100px 50px 50px;
  }
  @media (max-width: 768px) {
   padding: 50px;
  }
  @media (max-width: 470px) {
   min-height: 850px;
   padding: 50px 25px;
  }
 }
 // .countries__item-name
 &__item-name {
  font-weight: 700;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 48px;
  line-height: 1.2;
  max-width: 429px;
  width: 100%;
  margin-bottom: 30px;
  @media (max-width: 768px){
   font-size: 32px; 
   margin-bottom: 15px;
  }
 }
 // .countries__item-text
 &__item-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
  @media (max-width: 768px) {
   font-size: 16px;
   margin-bottom: 10px;
  }
 }
 // .countries__schedule
 &__schedule {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  max-width: 470px;
  width: 100%;
  color: $accentColor;
  margin-bottom: 30px;
  span,
  a {
   color: $mainColor;
  }
  @media (max-width: 768px) {
   font-size: 16px;
   margin-bottom: 20px;
  }
 }
 // .countries__link
 &__link {
  background-color: $mainColor;
  transition: all 0.7s;
  &:hover {
   border-color: $mainColor;
   background-color: $primaryColor;
   color: $mainColor;
  }
 }
}
//===========================================================================
.warning {
 flex: 1 0 40%;
 margin-left: -60px;
 &__inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: $primaryColor;
  z-index: 999;
  position: relative;
  font-weight: 700;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 28px;
  line-height: 1.2;
  padding: 124px 38px 20px 50px;
  box-shadow: 0px 10px 40px rgba(133, 133, 133, 0.4);
  &::before {
   @include pseudo;
   @include background(url("../images/icons/info.svg"));
   width: 64px;
   height: 64px;
   left: 40px;
   top: 30px;
  }
  span {
   color: $secondaryColor;
  }
  @media (max-width: 768px) {
   font-size: 24px;
  }
 }
 @media (max-width: 900px) {
  margin-left: 0;
 }
}