.header {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 width: 100%;
 z-index: 99999;
 background-color: transparent;
 height: 98px;
 transition: background-color 0.5s ease;
 padding: 23px 0 20px;
 background-color: $primaryColor;
		// .header__inner
		&__inner {
   display: flex;
   align-items: center;
		}
		// .header__box
		&__box {
   display: flex;
   align-items: center;
   margin-left: auto;
		}
		// .header__phone
		&__phone {
   margin-right: 80px;
   span {
    color: #858585;
    margin-right: 12px;
   }
   @media (max-width: 768px) {
    margin-right: 0;
   }
		}
  // .header__phone-link
  &__phone-link {
   font-weight: 700;
  }
		// .header__link
		&__link {
   @media (max-width: 768px) {
    display: none !important;
   }
		}
}
//=====================================================================
.social {
 display: flex;
 gap: 10px;
 margin-right: 50px;
 @media (max-width: 768px) {
  display: none;
 }
}