.team {
 // .team__inner
 &__inner {
  text-align: center;
  border-bottom: 1px solid #858585;
  padding-bottom: 100px;
  @media (max-width: 768px) {
   padding-bottom: 40px;
  }   
 }
 // .team__slider
 &__slider {
  position: relative;
  .swiper-pagination-bullet-active {
   background-color: $accentColor;
  }
 }
 // .team__wrapper
 &__wrapper {
  padding-bottom: 40px;
 }
 // .team__slide
 &__slide {
  cursor: pointer;
 }
 // .team__image
 &__image {
  margin-bottom: 20px;
 }
 // .team__name
 &__name {
  font-weight: 0;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 12px;
  @media (max-width: 490px) {
   font-size: 20px;
  }
 }
 // .team__position
 &__position {
  font-size: 15px;
  color: $accentColor;
  display: block;
 }
}